<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE jnlp PUBLIC "-//Sun Microsystems, Inc//DTD JNLP Descriptor 6.0//EN" "http://java.sun.com/dtd/JNLP-6.0.dtd">
<jnlp
    spec="$jnlpspec"
    codebase="$codeBase"
    href="$outputFile">
  <information>
    <title>$project.Name</title>
    <vendor>$project.Organization.Name</vendor>
    <homepage href="$project.Url"/>
    <description>$project.Description</description>
#if($offlineAllowed)
    <offline-allowed/>
#end
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
	<resources>
	  <property name="ueye.enable" value="true" />
	  <property name="ueye.settings_file" value="D:\Documents and Settings\Administrator\My Documents\uEye configurations\3.90settingsOpenMP.ini" />
	  <j2se version="1.6+" java-vm-args="-XX:+UseCompressedOops"/>
#foreach( $dependency in $fulldependencies )
#if ( !$dependency.classifier.startsWith('natives') )
		<jar href="$libFolder/${dependency.file.name}" />
#end
#end
	</resources>
	<resources os="Windows">
#foreach( $dependency in $fulldependencies )
#if ( $dependency.classifier == 'natives-win' )
		<nativelib href="$libFolder/${dependency.file.name}" />
#end
#end
	</resources>
	<resources os="Windows" arch="x86">
#foreach( $dependency in $fulldependencies )
#if ( $dependency.classifier == 'natives-win-x86' )
		<nativelib href="$libFolder/${dependency.file.name}" />
#end
#end
	</resources>
	<resources os="Windows" arch="amd64">
#foreach( $dependency in $fulldependencies )
#if ( $dependency.classifier == 'natives-win-amd64' )
		<nativelib href="$libFolder/${dependency.file.name}" />
#end
#end
	</resources>
	<resources os="Mac OS X">
#foreach( $dependency in $fulldependencies )
#if ( $dependency.classifier == 'natives-mac' )
		<nativelib href="$libFolder/${dependency.file.name}" />
#end
#end
	</resources>
#*
	<resources os="Linux">
#foreach( $dependency in $fulldependencies )
#if ( $dependency.classifier == 'natives-linux' )
		<nativelib href="$libFolder/${dependency.file.name}" />
#end
#end
	</resources>
	<resources os="Linux" arch="x86">
#foreach( $dependency in $fulldependencies )
#if ( $dependency.classifier == 'natives-linux-x86' )
		<nativelib href="$libFolder/${dependency.file.name}" />
#end
#end
	</resources>
	<resources os="Linux" arch="amd64">
#foreach( $dependency in $fulldependencies )
#if ( $dependency.classifier == 'natives-linux-amd64' )
		<nativelib href="$libFolder/${dependency.file.name}" />
#end
#end
	</resources>
*#
	<application-desc main-class="$mainClass"/>
</jnlp>
